In [11]:
import pandas as pd
from sqlalchemy import create_engine, text

In [12]:
domesticdf = pd.read_csv("./domestic.csv")
exportsdf = pd.read_csv("./exports.csv")

In [13]:
domesticdfmelt = pd.melt(domesticdf, id_vars=['_id', 'Country', 'Coffee type', 'Total_domestic_consumption'], var_name='Season', value_name='Amount')
domesticdfclean = domesticdfmelt.drop(columns=['Total_domestic_consumption', '_id'])
domesticdfclean

exportsdfmelt = pd.melt(exportsdf, id_vars=['_id', 'Country', 'Total_export'], var_name='Year', value_name='Amount')
exportsdfclean = exportsdfmelt.drop(columns=['Total_export', '_id'])
exportsdfclean

                               Country  Year      Amount
0                               Angola  1990     5040000
1     Bolivia (Plurinational State of)  1990     9360000
2                               Brazil  1990  1016160000
3                              Burundi  1990    35100000
4                             Cameroon  1990   156660000
...                                ...   ...         ...
1645                         Venezuela  2019     3180000
1646                          Viet Nam  2019  1644000000
1647                             Yemen  2019      720000
1648                            Zambia  2019     1620000
1649                          Zimbabwe  2019      360000

[1650 rows x 3 columns]

In [14]:
query = text("CREATE TABLE domestic(country STR, coffee_type STR, season STR, amount DEC)")

In [15]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tom77\anaconda3\lib\site-packages (2.9.9)

In [16]:
from sqlalchemy import create_engine
from config import username, password, hostname, port, db
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}")

In [17]:
domesticdfclean = domesticdfclean.rename(
    columns={
        "Amount": "amount",
        "Season": "season",
        "Country": "country",
        "Coffee type": "coffee_type"
        })

exportsdfclean = exportsdfclean.rename(
    columns={
        "Amount": "amount",
        "Year": "year",
        "Country": "country",
        })

In [18]:
domesticdfclean.to_sql("domesticdfclean", con=engine, if_exists="replace", index=False)

exportsdfclean.to_sql("exportsdfclean", con=engine, if_exists="replace", index=False)

650